.todo-form-container {
  padding: 32px;
  background-color: var(--bg-color-1);
}

.todo-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.todo-form-container label {
  color: var(--text-secondary-color);
  font-weight: bold;
}

.input-container {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}

.todo-form-container input {
  width: 100%;
  padding: 8px;
}

.todo-form-container textarea {
    width: 100%;
}
