

footer {
  padding: 16px;
  background: var(--bg-color);
  color: var(--text-color-1);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 35px;
  background-color: var(---bg-color-2);
  border-top: 1px solid var(--border-color);
}