.btn {
    align-self: flex-end;
    margin: 24px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--btn-bg-color-1);
    color: white;
}