.drawer {
  position: absolute;
  z-index: 100;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 26px;
  flex: 1;
  width: 100%;
  background-color: var(--bg-color-2);
  border: 1px solid var(--border-color-1);
  transform: translateX(-100%);
  transition: transform 0.8s ease;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-drawer);
}

.drawer > h3 {
  margin-bottom: 16px;
}

.drawer.open {
  transform: translateX(0);
}

.drawer > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.drawer li:hover {
  cursor: pointer;
}
