.header {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-2);
    box-shadow: var(--box-shadow);
}

.header h1 {
    color: var(--indigo-solid-color)
}