.footer {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-2);
  color: var(--text-secondary-color);
  border-top: 1px solid var(--border-color-1);
}
