:root {
  --bg-color: #fcfcfc;
  ---bg-color-2:#F9F9F9;
  --text-color-1: #202020;
  --text-color-2: #646464;
  --primary: #12a594;
  --primary2: #0d9b8a;
  --border-primary-color: #9DDDE7;
  --border-color: #D9D9D9;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-1);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}